<header>
  <div class="header">
    <div class="header-logo">
      <i class="fa-sharp fa-solid fa-people-group"></i>
      <h2>Gerenciamento de Clientes</h2>
    </div>
    <nav>
      <ul class="header-navbar">
        <li class="header-navbar-item">
          <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Clientes</a>
        </li>
        <li class="header-navbar-item"><a>Pedidos</a></li>
        <li class="header-navbar-item"><a>Sobre</a></li>
        <li class="header-navbar-item"><a>Entrar</a></li>
      </ul>
    </nav>
  </div>
</header>